---
import '../styles/global.css';
import Home from '../pages/home.astro';
---

<meta name="viewpoint" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;600;700&family=Work+Sans:wght@400;500&display=swap"
    rel="stylesheet"
/>

<div>
    <Home />
</div>
